<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleVersion</key>
    <string>1.4.2</string>
    <key>CFBundleShortVersionString</key>
    <string>1.4.2</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleDisplayName</key>
    <string>Consumercheck</string>
    <key>CFBundleIconFile</key>
    <string>osx-cc.icns</string>
    <key>CFBundleIdentifier</key>
    <string>no.tgxnet.nofima.consumercheck</string>
    <key>CFBundleExecutable</key>
    <string>MacOS/Consumercheck</string>
    <key>CFBundleName</key>
    <string>Consumercheck</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSHighResolutionCapable</key>
    <string>True</string>
    <key>LSBackgroundOnly</key>
    <string>0</string>
    <key>LSEnvironment</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin</string>
    </dict>
  </dict>
</plist>
