[buildout]
parts =
      ets3
      test-env
      pycc
      runcc
eggs =
     Sphinx
#     PyInstaller
#     rpy2==2.1.9
#     numpy==1.5.1
#     traits==3.4.0
#     pyface==4.0.0
#     traitsui==3.4.0
#     enable==3.3.1
#     chaco==3.3.1

[ets3]
recipe = zc.recipe.egg:eggs
eggs = ${buildout:eggs}

[test-env]
recipe = zc.recipe.egg
eggs = pytest

[pycc]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
extra-paths = ${buildout:directory}/src
interpreter = pycc

[runcc]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
extra-paths = ${buildout:directory}/src
entry-points = ccrun=consumercheck:main

